  
/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #2B2D31FF;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto 0px;
  }
  
  /* Estilo do cabeçalho */
  header {
    background-color: #00c5ff;
    color: #000;
    padding: 15px;
    text-align: center;
  }
  
  .menu {
    list-style: none;
    border: 1px solid #c0c0c0;
    float: left;
  }
  
  /* Estilo do título da página */
  h1 {
    font-size: 30px;
    margin: 0;
    color: #ffffffe0;
    padding: 0px;
    text-align: center;
  }
  
  h2 {
    color: #ffffffe0;
    text-align: center;
    font-size: 40px;
  }
  
  h3 {
    color: #fff;
  }
  
  p {
    color: #fff;
    padding-left: 200px;
    text-align: centers;
  }
  
  a {
    color: #fff;
    text-decoration: underline 1px #fff;
  }
  
  d{
    color: #fff;
    
  }
  
  a:hover {
    color: #00C5FF;
  }
  
  a.title {
    color: #fff;
  }
  b{
    color:#fff;
    text-align: center;
  }
  
  a.subtitle {
    color: #fff;
  }
  
  li {
    color: #00C5FF;
    position: relative;
    list-style-type: circle;
  }
  
  li:hover {
    list-style-type: disc;
  }
  
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 1px solid #808080;
  }
  
  .introducao {
    padding-left: 35px;
  }
  
  .cointainertop {
    padding-left: 35px;
  }
  
  main {
    margin-left: 200px;
    padding-left: 20px;
  
  }
  
  .pageNav {
    color: #fff;
    font-size: 24;
    text-decoration: underline #00c5ff 2px;
    text-align: center;
  }
  
  .menucenas {
    color: #fff;
  }
  
  .titleNav {
    color: #fff;
    font-size: 18;
    text-decoration: none;
    text-align: left;
    list-style-type: square;
  }
  
  .subtitleNav {
    color: #fff;
    font-size: 12;
    text-decoration: none;
    text-align: left;
  }
  
  .pageNav:hover,
  .titleNav:hover,
  .subtitleNav:hover {
    color: #00c5ff;
    position: relative;
  }
  
  /* Esconde a seta padrão */
  details>summary {
    list-style: none;
  }
  
  /* Adiciona uma seta personalizada */
  details>summary:before {
    content: '▶';
    color: #00c5ff;
    display: inline-block;
    margin-right: 6px;
    transition: transform 0.3s ease-in-out;
  }
  
  /* Rotaciona a seta quando o menu está aberto */
  details[open]>summary:before {
    transform: rotate(90deg);
  }
  
  .subtitle {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .subtitle:hover {
    color: #00C5FF;
    position: relative;
  }
  
  .title:hover {
  
    color: #00C5FF;
    position: relative;
  }
  
  
  /* Estilo das seções */
  section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2B2D31FF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    padding-left: 20px;
  }
  
  
  .title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    color: #fff;
  }
  
  .subtitle {
    font-size: 14px;
    margin: 0;
    color: #fff;
  }
  
  .container-top {
    --offset: 100px;
    --fade: 80px;
  
    display: flex;
    align-items: flex-end;
    width: 60px;
    justify-self: end;
    justify-content: flex-end;
    -webkit-mask: linear-gradient(#0000 calc(100vh + var(--offset)),
        #000 calc(100vh + var(--offset) + var(--fade)));
    mask: linear-gradient(#0000 calc(100vh + var(--offset)),
        #000 calc(100vh + var(--offset) + var(--fade)));
  }
  
  .container-body {
    margin-left: 10px;
  }
  
  /* imagens */
  .acharactros {
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  .inicioprincipal{
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  .docdois{
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .doctres{
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  .baixarunity {
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemcp {
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemexport {
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemconfirma {
    padding-left: 400px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemcr {
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemis {
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemis {
    padding-left: 100px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemsg {
    padding-left: 200px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemsa {
    padding-left: 250px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagempt {
    padding-left: 300px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .imagemb {
    padding-left: 300px;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .script {
    padding-left: 3%;
    margin: 20px;
    max-width: 950px;
    width: auto;
  }
  
  .top {
    position: sticky;
    bottom: 20px;
    margin-right: 10px;
  
    /* visual styling */
    width: 100%;
    aspect-ratio: 1;
    background: #00C5FF;
    border-radius: 10px;
  }
  
  .top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid #000000;
    border-right: 5px solid #000000;
  }
  
  .bodyText {
    color: #fff;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  footer {
    margin-left: 250px;
  }
